---
import Layout from '../layouts/StartPage.astro';
import Welcomer from '../components/start/Welcomer.astro';
---

<Layout title="sara's place">
	<main>
		<Welcomer msg="sara's place" />
	</main>
</Layout>

<style>
	main {
		width: 100%;
		height: 100%;
		justify-content: center;
		align-content: center;
		display: flex;
		flex-direction: column;
		gap: 1.0rem;
	}
</style>