---
import duckduckgo from '../../assets/images/start/startpage.png';
---


<div class="Container">
	<div class="Searchbar">
		<input
			id="search"
			type="search"
			placeholder="Explore the web"
			autofocus
		/>
		<img
			src={duckduckgo.src}
			alt="Startpage search engine logo"
		/>
	</div>
</div>
<script>
import type { getAbsoluteLocaleUrl } from "astro:i18n";

	interface StringIndex {
		[key: string]: any
	}
	const searchDictionary:StringIndex = {
		<!-- A -->
		a: 'https://wiki.archlinux.org/index.php?search=',

		arch: 'https://wiki.archlinux.org/index.php?search=',
		archlinux: 'https://wiki.archlinux.org/index.php?search=',
		archwiki: 'https://wiki.archlinux.org/index.php?search=',

		aur: 'https://aur.archlinux.org/packages?O=0&K=',


		<!-- B -->
		b: 'https://bsky.app/search?q=',

		bsky: 'https://bsky.app/search?q=',
		bluesky: 'https://bsky.app/search?q=',
		bing: 'https://www.bing.com/search?q=',


		<!-- D -->
		d: 'https://duckduckgo.com/?t=ffab&q=',

		ddg: 'https://duckduckgo.com/?t=ffab&q=',
		duckduckgo: 'https://duckduckgo.com/?t=ffab&q=',


		<!-- G -->
		g: 'https://www.google.com/search?q=',

		google: 'https://www.google.com/search?q=',

		gi: 'https://genshin-impact.fandom.com/wiki/Special:Search?query=',
		genshin: 'https://genshin-impact.fandom.com/wiki/Special:Search?query=',


		<!-- H -->
		h: 'https://honkai-star-rail.fandom.com/wiki/Special:Search?query=',

		hsr: 'https://honkai-star-rail.fandom.com/wiki/Special:Search?query=',
		honkai: 'https://honkai-star-rail.fandom.com/wiki/Special:Search?query=',
		honkaistarrail: 'https://honkai-star-rail.fandom.com/wiki/Special:Search?query=',


		<!-- M -->
		m: 'https://developer.mozilla.org/en-US/search?q=',
		mozilla: 'https://developer.mozilla.org/en-US/search?q=',

		<!-- Q -->
		q: 'https://www.qwant.com/?q=',

		qwant: 'https://www.qwant.com/?q=',


		<!-- R -->
		r: 'https://reddit.com/search/?q=',

		red: 'https://reddit.com/search/?q=',
		reddit: 'https://reddit.com/search/?q=',

		rst: 'https://doc.rust-lang.org/stable/reference/?search=',
		rust: 'https://doc.rust-lang.org/stable/reference/?search=',


		<!-- S -->
		s: 'https://www.startpage.com/sp/search?query=',

		sp: 'https://www.startpage.com/sp/search?query=',
		stp: 'https://www.startpage.com/sp/search?query=',
		start: 'https://www.startpage.com/sp/search?query=',
		startpage: 'https://www.startpage.com/sp/search?query=',

		starrail: 'https://honkai-star-rail.fandom.com/wiki/Special:Search?query=',

		steam: 'https://store.steampowered.com/search/?term=',


		<!-- W -->
		w: 'https://en.wikipedia.org/w/index.php?search=',

		wp: 'https://en.wikipedia.org/w/index.php?search=',
		wiki: 'https://en.wikipedia.org/w/index.php?search=',
		wikipedia: 'https://en.wikipedia.org/w/index.php?search=',

		wuwa: 'https://wutheringwaves.fandom.com/wiki/Special:Search?query=',
		wuther: 'https://wutheringwaves.fandom.com/wiki/Special:Search?query=',
		wuthering: 'https://wutheringwaves.fandom.com/wiki/Special:Search?query=',
		wutheringwaves: 'https://wutheringwaves.fandom.com/wiki/Special:Search?query=',


		<!-- Y -->
		y: 'https://youtube.com/results?search_query=',
		yt: 'https://youtube.com/results?search_query=',
		youtube: 'https://youtube.com/results?search_query=',


		<!-- Z -->
		z: 'https://zenless-zone-zero.fandom.com/wiki/Special:Search?query=',

		zzz: 'https://zenless-zone-zero.fandom.com/wiki/Special:Search?query=',
		zen: 'https://zenless-zone-zero.fandom.com/wiki/Special:Search?query=',
		zenless: 'https://zenless-zone-zero.fandom.com/wiki/Special:Search?query=',
		zonezero: 'https://zenless-zone-zero.fandom.com/wiki/Special:Search?query=',
		zenlesszero: 'https://zenless-zone-zero.fandom.com/wiki/Special:Search?query=',
		zenlesszonezero: 'https://zenless-zone-zero.fandom.com/wiki/Special:Search?query=',
	};

	const search = (document.getElementById("search")! as HTMLInputElement)
	search.addEventListener('keydown', function onEvent(event) {
		if (event.key === "Enter") {
			const query = search.value;
			let url = getURL(query);
			if (url != null) {
				window.location.href = url;
				return;
			}
			url = getSpecialSearchURL(query);
			if (url != null) {
				window.location.href = url;
				return;
			}
			const searchQuery = encodeURI(query);
			if (searchQuery.length <= 1) {
				return
			}
			try {
				window.location.href = ("https://duckduckgo.com/?t=ffab&q=" + searchQuery);
			} catch (e){}
		}
	});
	function getURL(query: string) {
		let url;
		if (query.includes('.') && !query.includes(' ') && (query.indexOf(".") < query.length-2)) {
			try {
				url = (new URL(query)).href;
				return url;
			} catch (_) { }
			try {
				url = (new URL("https://" + query)).href;
				return url;
			} catch (_) { }
		}
		return url;
	}
	function getSpecialSearchURL(query: string) {
		let url;
		let value = "";
		for (const key in searchDictionary) {
			try {
				value = searchDictionary[key];
				if (query.includes(key + ':')) {
					if (query.substring(0, (key.length + 1)) == key + ':') {
						query = query.substring(key.length+1);
						if (query.substring(0,1) == " ") { query = query.substring(1); };
						return (new URL(value + query)).href;
					}
				}
			} catch {console.log("error!")}
		}
		return url;
	}
</script>


<style>
	/*------------- IMPORT UBUNTU MONO -------------*/
	@import url(UbuntuMono.css);
	@import url(Theme.css);

	/*------------- SEARCHBAR -------------*/
	.Container {
		width: 100%;
		height: 2.5rem;
		justify-content: center;
		align-content: center;
	}
	.Searchbar {
		list-style: none;
		display: flex;
		width: 30rem;
		height: 2.5rem;
		border-radius: 1.25rem;
		background-color: var(--searchbar-bg);
		margin: 0 auto;
	}

	/*------------- WELCOME MESSAGE -------------*/
	.Searchbar > h1 {
		font-family: 'UbuntuMono', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 2.5rem;
		color: var(--link-text);
		margin: 0;
	}
	.Searchbar > img {
		padding:0.5rem;
		width: 1.5rem;
		height: 1.5rem;
		position: absolute
	}
	.Searchbar > input {
		color: #c7bfc5;
		font-family: 'UbuntuMono', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 1.0rem;
		width: 100%;
		height: 100%;
		padding: 0.5rem;
		padding-left: 2.75rem;
		background-color: rgba(0,0,0,0);
		border-width: 0px;
		border-radius: 1.25rem;
	}
</style>
