---
import Header from '../components/Header.astro';
import Horizontal from '../components/Horizontal.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="gayfro.gs" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<Horizontal />
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 249, 92, 179;
		--accent-light: 249, 92, 179;
		--accent-dark: 249, 92, 179;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #190E1E;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	p > emphasis {
		color: #F95CB3;
		font-weight: bold;
	}
	p > quiet {
		color: #f3f3f3;
		font-style: italic;
		font-size: 80%;
	}
	a {
		color: #f581f5;
		font-weight: bold;
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}
</style>
